body {
  font-family: 'Raleway', sans-serif;
  background: #f0f8ff;
  padding: 0;
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
}

body, html {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.header {
  padding: 60px;
  background-image: url("../assets/backgrounds/h_img.jpg");
  text-align: center;
  color: white;
}

.services {
  padding: 60px;
  background-image: url("../assets/backgrounds/s_image.jpg");
  text-align: center;
  color: white;
}

.about {
  text-align: center;
}

.whatwedo {
  padding: 60px;
  text-align: center;
}

.portfolio {
  text-align: center;
}

.contacts {
  padding: 60px;
  background-image: url("../assets/backgrounds/c_image.jpg");
  text-align: center;
  color: white;
}

h1 {
  font-size: 64px;
}

.contact_inputs_3 {
  border: 1px solid #fff;
  width: 100%;
}

.contact_inputs_1, .contact_inputs_2 {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border: 1px solid #fff;
}

.contacts .btn {
  background-color: #0ff;
  margin-left: 80%;
  border-radius: 0;
}

.contacts .btn:hover {
  background: #2199e8;
}

.footer {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.wBox {
  position: relative;
}

.wBox h4 {
  position: absolute;
  text-align: center;
  color: black;
  opacity: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  line-height: 10;
}
